.img-fluid {
    width: 100%;
    height: 15vw;
    object-fit: cover; 
}

.card-body { 
    padding: 0.5rem;
}


.cardColor1 {
    background-color: #343a40!important;
}

.cardColor2 {
    background-color: #343a40!important;
}