body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

iframe {
    float: right;
    margin-bottom: 2px;
    border: 2px solid #E5794D;
    border-radius: 10px;
}

button {
    margin-top: 7px;
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.particles-container {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.music-search-button, .compilation-search-button {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    color: rgba(0,0,0,.6);
    cursor: pointer;
    font-weight: bold;
    margin-top: 7px;
    padding: .5em;
    text-shadow:
       1px  1px 2px #fff,
      -1px -1px 2px #fff,
       1px -1px 2px #fff,
      -1px  1px 2px #fff;
  }

.compilation-search-button, .music-search-button {
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #eee;
    color: #E5794D;
}


.modal-header {
    background-color: #E5794D;
}

.modal-title {
    margin-left: 2px;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
}

.close {
    float:left;
}

.modal-body {
    font-family: 'Fira Sans', sans-serif;
}

.modal-footer {
    background-color: #E5794D;
}

.fixed-bottom {
    position:sticky;
    margin-top: 55vh;
}

.modal-content {
    width: 100vw;
}

